.searchList{
	border-right: solid thin grey;
	margin: 0;
	padding-top: 30px;
	height: 80%;
	width: 200px;
	position: absolute;
	overflow: auto;
	font-weight: bold;
	font-size: 20px;
	}
  
	.searchList li{
	padding: 20px;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
	
 
	.searchList li:hover{
	   color: #0b4ba2;
	}