#title {
	font-family: "hanu";
	font-size: 30px;
	font-weight: bold;
	color: rgb(8, 66, 163);
	padding-bottom: 30px;
}


#auth-container {
	padding-top: 60px;
	padding-left: 300px;
	padding-right: 300px;
}