hr{
    width: 50%;
    margin-left : auto;
    margin-right : auto;
    position: relative;
    top: 20px;
    margin: 0 auto;
}

.zzimTitle {
  color: #0b4ba2;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#product-list2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    justify-content: flex-start;
    position : relative;
    top: 150px;
    width: 75%;
    margin: 0 auto;
	padding-bottom: 300px;
}

.product-card {
  width: 180px;
  height: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.product-blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffffaa;
  pointer-events: none;
}

.product-img {
  width: 100%;
  height: 210px;
  object-fit: contain;
}

.product-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.product-name {
  font-size: 14px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.product-nickname {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.product-seller {
  display: flex;
  align-items: center;
}